{% load i18n %}
{% load static %}<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% trans 'Rotterdam - Agri & Farming HTML Template | Blog Single'%}</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'css/style.css'%}" rel="stylesheet">
<link href="{% static 'css/responsive.css'%}" rel="stylesheet">

<!--Add Theme Color File To Change Template Color Scheme / Color Scheme Files are Located in root/{% static 'css/color-themes/ folder-->
<!--<link href="{% static 'css/color-themes/blue-theme.css'%}" rel="stylesheet">-->

<!--Favicon-->
<link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
        
        <!-- Header Top -->
    	<div class="header-top">
        	<div class="auto-container clearfix">
            	<!--Top Left-->
            	<div class="top-left pull-left">
                	<ul class="links-nav clearfix">
                    	<li><a href="#"><span class="icon fa fa-envelope-o"></span> Info@Rotterdam.com</a></li>
                        <li><a href="#"><span class="icon fa fa-phone"></span>{% trans 'Call Us Now'%} : 1800 123 4567</a></li>
                    </ul>
                </div>
                
                <!--Top Right-->
            	<div class="top-right pull-right">
                	<ul class="links-nav clearfix">
                    	<li class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">En &ensp;<span class="icon fa fa-caret-down"></span></a>
                        	<ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">
                                <li><a href="#">{% trans 'English'%}</a></li>
                                <li><a href="#">{% trans 'German'%}</a></li>
                                <li><a href="#">{% trans 'Arabic'%}</a></li>
                                <li><a href="#">{% trans 'Hindi'%}</a></li>
                            </ul>
                        </li>
                    	<li><a href="#">{% trans 'Login'%}</a></li>
                        <li><a href="#">{% trans 'Sign Up'%}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Header Top End -->
        
        <!--Header-Upper-->
        <div class="header-upper">
        	<div class="auto-container">
                	
                <div class="logo-outer">
                    <div class="logo"><a href="index.html"><img src="{% static 'images/logo.png'%}" alt="" title=""></a></div>
                </div>
                    
                <div class="nav-outer clearfix">
                
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <!--Left Nav-->
                            <ul class="navigation left-nav clearfix">
                                <li class="dropdown"><a href="#">{% trans 'Home'%}</a>
                                    <ul>
                                        <li><a href="index.html">{% trans 'Homepage One'%}</a></li>
                                        <li><a href="index-2.html">{% trans 'Homepage Two'%}</a></li>
                                        <li><a href="index-3.html">{% trans 'Homepage Three'%}</a></li>
                                        <li class="dropdown"><a href="#">{% trans 'Header Styles'%}</a>
                                            <ul>
                                                <li><a href="index.html">{% trans 'Header Style One'%}</a></li>
                                                <li><a href="index-2.html">{% trans 'Header Style Two'%}</a></li>
                                                <li><a href="index-3.html">{% trans 'Header Style Three'%}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="about.html">{% trans 'About Us'%}</a>
                                	<ul>
                                    	<li><a href="about.html">{% trans 'About Us 01'%}</a></li>
                                        <li><a href="about-two.html">{% trans 'About Us 02'%}</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">{% trans 'Pages'%}</a>
                                    <ul>
                                    	<li><a href="services.html">{% trans 'Services'%}</a></li>
                                        <li><a href="error-page.html">{% trans '404 Page'%}</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">{% trans 'Team'%}</a>
                                    <ul>
                                    	<li><a href="team.html">{% trans 'Team'%}</a></li>
                                        <li><a href="team-single.html">{% trans 'Team Single'%}</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!--Right Nav-->
                            <ul class="navigation right-nav clearfix">
                                <li><a href="gallery.html">{% trans 'Gallery'%}</a></li>
                                <li class="dropdown"><a href="#">{% trans 'Shop'%}</a>
                                    <ul>
                                    	<li><a href="shop.html">{% trans 'Shop'%}</a></li>
                                        <li><a href="shop-single.html">{% trans 'Shop Single'%}</a></li>
                                    </ul>
                                </li>
                                <li class="current dropdown"><a href="#">{% trans 'Blog'%}</a>
                                    <ul>
                                        <li><a href="blog.html">{% trans 'Our Blog'%}</a></li>
                                        <li><a href="blog-single.html">{% trans 'Blog Single'%}</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">{% trans 'Contact Us'%}</a></li>
                            </ul>
                        </div>
                    </nav>
                    
                    <!--Search Box-->
                    <div class="search-box-outer">
                        <div class="dropdown">
                            <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                            <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                <li class="panel-outer">
                                    <div class="form-container">
                                        <form method="post" action="blog.html">
                                            <div class="form-group">
                                                <input type="search" name="field-name" value="" placeholder="Search Here" required="">
                                                <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
        	</div>
        </div>
        <!--End Header Upper-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="index.html" class="img-responsive"><img src="{% static 'images/logo-small.png'%}" alt="" title=""></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown"><a href="#">{% trans 'Home'%}</a>
                                    <ul>
                                        <li><a href="index.html">{% trans 'Homepage One'%}</a></li>
                                        <li><a href="index-2.html">{% trans 'Homepage Two'%}</a></li>
                                        <li><a href="index-3.html">{% trans 'Homepage Three'%}</a></li>
                                        <li class="dropdown"><a href="#">{% trans 'Header Styles'%}</a>
                                            <ul>
                                                <li><a href="index.html">{% trans 'Header Style One'%}</a></li>
                                                <li><a href="index-2.html">{% trans 'Header Style Two'%}</a></li>
                                                <li><a href="index-3.html">{% trans 'Header Style Three'%}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="about.html">{% trans 'About Us'%}</a>
                                	<ul>
                                    	<li><a href="about.html">{% trans 'About Us 01'%}</a></li>
                                        <li><a href="about-two.html">{% trans 'About Us 02'%}</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">{% trans 'Pages'%}</a>
                                    <ul>
                                    	<li><a href="services.html">{% trans 'Services'%}</a></li>
                                        <li><a href="error-page.html">{% trans '404 Page'%}</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">{% trans 'Team'%}</a>
                                    <ul>
                                    	<li><a href="team.html">{% trans 'Team'%}</a></li>
                                        <li><a href="team-single.html">{% trans 'Team Single'%}</a></li>
                                    </ul>
                                </li>
                                <li><a href="gallery.html">{% trans 'Gallery'%}</a></li>
                                <li class="dropdown"><a href="#">{% trans 'Shop'%}</a>
                                    <ul>
                                    	<li><a href="shop.html">{% trans 'Shop'%}</a></li>
                                        <li><a href="shop-single.html">{% trans 'Shop Single'%}</a></li>
                                    </ul>
                                </li>
                                <li class="current dropdown"><a href="#">{% trans 'Blog'%}</a>
                                    <ul>
                                        <li><a href="blog.html">{% trans 'Our Blog'%}</a></li>
                                        <li><a href="blog-single.html">{% trans 'Blog Single'%}</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">{% trans 'Contact Us'%}</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/8.jpg'%});">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>{% trans 'Blog Details'%}</h1>
                <ul class="bread-crumb">
                	<li><a href="index.html">{% trans 'Home'%}</a></li>
                    <li>Blog Details</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
				
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                	<!--Blog Single-->
                    <div class="blog-single">
					
                    	<!--News Block-->
                        <div class="news-block">
                            <div class="inner-box">
                                <div class="image"><img src="{% static 'images/resource/news-5.jpg'%}" alt="" /></div>
                                <div class="lower-content">
                                    <div class="post-date">{% trans '04 March 2017'%}</div>
                                    <h3>{{march.nomi}}</h3>
                                    <ul class="post-meta">
                                        <li><span class="icon fa fa-user"></span>{{march.nomi2}}</li>
                                        <li><span class="icon fa fa-commenting"></span>{{march.nomi3}}</li>
                                    </ul>
                                    <div class="text">
                                    	<p>{{march.text}}</p>
                                        <p>{{march.text}}</p>
                                    </div>
                                    <!--post-share-options-->
                                    <div class="post-share-options clearfix">
                                        <div class="pull-left tags"><span>TAGS: </span><a href="#">{% trans 'Vegetables'%}</a>, <a href="#">{% trans 'Fruits'%}</a>, <a href="#">{% trans 'Breads'%}</a></div>
                                        <div class="pull-right social-icon-three clearfix">
                                            <div class="share">{% trans 'SHARE :'%}</div>
                                            <a href="#"><span class="fa fa-facebook-f"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                            <a href="#"><span class="fa fa-tumblr"></span></a>
                                            <a href="#"><span class="fa fa-instagram"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End News Block-->
                        
                        <!--Comments Area-->
                        <div class="comments-area">
                            <div class="group-title"><h2>{{i.nomi}}</h2></div>
                            <!--Comment Box-->
                            {% for i in camment %}
                            <div class="comment-box">
                                <div class="comment">
                                    <div class="author-thumb">
                                    	<div class="image">
                                    		<img src="{{i.image.url}}" alt="">
                                        </div>
                                        <div class="author-name">{{i.nomi2}}</div>
                                    </div>
                                    <div class="comment-inner">
                                        <div class="comment-info"><div class="comment-time">{{i.sana}}</div></div>
                                        <div class="text">{{i.text}}</div>
                                    </div>
                                </div>
                                <a class="theme-btn btn-style-one" href="#"><span class="icon fa fa-mail-reply-all"></span>&nbsp; {% trans 'Reply'%}</a>
                            </div>
                            {% endfor %}
                            
                        
                        <!-- Comment Form -->
                        <div class="comment-form">
    						<div class="group-title"><h2>{% trans 'Leave Your Comments'%}</h2></div>
    						<!--Comment Form-->
                            <form method="post" action="/blogsingle/">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                        <input type="text" name="ism" placeholder="ism" required>
                                    </div>
    
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                        <input type="email" name="email" placeholder="email" required>
                                    </div>
                                    
    								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <input type="text" name="mavzu" placeholder="mavzu" required>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <textarea name="text" placeholder="text"></textarea>
                                    </div>
    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">{% trans 'Send Comment'%}</button>
                                    </div>
    
                                </div>
                            </form>
    					</div>
                        <!--End Comment Form -->
                    </div>
                </div>
                <!--End Content Side-->
                
                <!--Sidebar-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
					
                    	<!-- Search Form -->
                        <div class="sidebar-widget search-box">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search..." required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                        
                        <!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title"><h3>{% trans 'recent post'%}</h3></div>
                            {% for i in post %}
                            <article class="post">
                            	<figure class="post-thumb img-circle"><a href="#"><img src="{{i.image.url}}" alt=""></a></figure>
                                <div class="text"><a href="#">{{i.text}}</a></div>
                                <div class="post-info">{{i.sana}}</div>
                            </article>
                            {% endfor %} 

                        </div>
                    
                    
                    	<!-- Flickr Gallery -->
                        <div class="sidebar-widget flickr-gallery">
                            <div class="sidebar-title">
                            	<h3>{% trans 'Flickr Photos'%}</h3>
                            </div>
                            <div class="clearfix">
                            	<figure class="image"><a href="{% static 'images/gallery/2.jpg'%}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-1.jpg'%}" alt=""></a></figure>
                                <figure class="image"><a href="{% static 'images/gallery/3.jpg'%}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-2.jpg'%}" alt=""></a></figure>
                                <figure class="image"><a href="{% static 'images/gallery/4.jpg'%}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-3.jpg'%}" alt=""></a></figure>
                                <figure class="image"><a href="{% static 'images/gallery/2.jpg'%}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-4.jpg'%}" alt=""></a></figure>
                                <figure class="image"><a href="{% static 'images/gallery/3.jpg'%}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-5.jpg'%}" alt=""></a></figure>
                                <figure class="image"><a href="{% static 'images/gallery/4.jpg'%}" class="lightbox-image"><img src="{% static 'images/resource/sidebar-gallery-6.jpg'%}" alt=""></a></figure>
                            </div>
                        </div>
                    
                    	<!-- Popular Tags -->
                        <div class="sidebar-widget popular-tags">
                            <div class="sidebar-title"><h3>{% trans 'Tags'%}</h3></div>
                            {% for i in post2 %}
                            <a href="#">{{i.nomi}}</a>
                           {% endfor %} 
                        </div>
                    
                    </aside>
                </div>
                <!--End Sidebar-->
            </div>
        </div>
    </div>
    
    <!--Main Footer-->
    <footer class="main-footer grey-bg">
    	<!--Widgets Section-->
        <div class="widgets-section">
            <div class="auto-container">
            	<div class="row clearfix">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                    
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <!--About Widget-->
                            <div class="footer-widget about-widget">
                            	<h2>{{story19.nomi}}</h2>
                                <div class="text">{{story19.text}}</div>
                                <div class="cards"><img src="{% static 'images/resource/cards.png'%}" alt="" /></div>
                            </div>
                        </div>
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <!--Info Widget-->
                            <div class="footer-widget info-widget">
                            	<h2>{{story20.nomi}}</h2>
                                <ul class="info-list">
                                	<li>{{story20.adres}}<span>{{story20.adres2}}</span></li>
                                    <li>{{story20.tel2}}<span>{{story20.tel}}</span></li>
                                    <li>{{story20.email}}<span>Info@Rotterdam.com</span></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                    
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <!--Gallery Widget-->
                            <div class="footer-widget gallery-widget">
                            	<h2>{% trans 'Our Gallery'%}</h2>
                                
                                <div class="widget-content">
                                    <div class="images-outer clearfix">
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="{% static 'images/gallery/1.jpg'%}" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="{% static 'images/gallery/footer-thumb-1.jpg'%}" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="{% static 'images/gallery/2.jpg'%}" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="{% static 'images/gallery/footer-thumb-2.jpg'%}" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="{% static 'images/gallery/3.jpg'%}" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="{% static 'images/gallery/footer-thumb-3.jpg'%}" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="{% static 'images/gallery/4.jpg'%}" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="{% static 'images/gallery/footer-thumb-4.jpg'%}" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="{% static 'images/gallery/1.jpg'%}" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="{% static 'images/gallery/footer-thumb-5.jpg'%}" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="{% static 'images/gallery/2.jpg'%}" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="{% static 'images/gallery/footer-thumb-6.jpg'%}" alt=""></a></figure>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget subscribe-widget">
                               <h2>{% trans 'News letter'%}</h2>
                               <div class="widget-content">
                                    <div class="newsletter-form">
                                        <form method="post" action="contact.html">
                                            <div class="form-group">
                                                <input type="text" name="name" value="" placeholder="Name" required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" value="" placeholder="Email Id" required="">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="theme-btn btn-style-one">{% trans 'SUBSCRIBE'%}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
            	<div class="logo">
                	<a href="index.html"><img src="{% static 'images/footer-logo.png'%}" alt="" /></a>
                </div>
                <ul class="social-icon-one">
                	<li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                    <li><a href="#"><span class="fa fa-skype"></span></a></li>
                    <li><a href="#"><span class="fa fa-pinterest"></span></a></li>
                </ul>
                <div class="copyright">{% trans 'Copyright'%} &copy; {% trans '2017 Rotterdam. All rights reserved.'%}</div>
            </div>
        </div>
        
    </footer>
    <!--End Main Footer-->
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-long-arrow-up"></span></div>




<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js'%}"></script>
<script src="{% static 'js/jquery.fancybox-media.js'%}"></script>
<script src="{% static 'js/owl.js'%}"></script>
<script src="{% static 'js/appear.js'%}"></script>
<script src="{% static 'js/wow.js'%}"></script>
<script src="{% static 'js/script.js'%}"></script>


</body>
</html>